@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --menuheight: 4rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.body__container {
  @apply flex flex-col;
}
.nav {
  height: var(--menuheight);
  @apply fixed z-10 w-full bg-slate-50 
            border-b border-b-zinc-300;
}
.nav__div {
  @apply max-w-6xl mx-auto px-12 flex py-4;
}
.news {
  @apply w-full;
}
.news__div {
  @apply text-center bg-white p-4 border-t border-t-zinc-300;
}
.news__div--left {
  @apply text-left bg-white p-4 border-t border-t-zinc-300;
}
.news__div--right {
  @apply text-right bg-white p-4 border-t border-t-zinc-300;
}
.page__container {
  margin-top: var(--menuheight);
  @apply mx-auto text-center w-[30rem]
      sm:w-[40rem]
      md:w-[50rem]
      lg:w-[60rem];
}
.footer {
  bottom: 0;
  @apply fixed z-10 w-full 
    text-center bg-white p-4 border-t border-t-zinc-300;
}
.form__label {
  @apply flex mb-2 text-gray-700 font-semibold;
}
/* Register page */
.form__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:solid 1px #ccc;
  height: 2.5rem;
  @apply w-full mb-2 p-2;
}
.form__input {
  @apply px-3 focus:bg-blue-200 w-full h-7;
}
.svgsmall-green {
  width: 18px;
  height: 18px;
  filter: brightness(0) saturate(100%) invert(75%) sepia(54%) saturate(7355%) hue-rotate(85deg) brightness(124%) contrast(119%);
}
.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: brightness(0) saturate(100%) invert(18%) sepia(93%) saturate(2790%) hue-rotate(236deg) brightness(86%) contrast(176%);
}

@keyframes slideUp {
    0% { transform: translateY(-100%);}
    50%{transform: translateY(-50%);}
    65%{transform: translateY(-20%);}
    100% {transform: translateY(0%);}		
}
.slide-up {
    animation: slideUp 1s ease-in-out;
}
